.container {
    position: absolute;
    top: 30%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


p {
    padding-bottom: 3cm;
}

body{
    text-align:center;
    display:flex;
    flex-direction:column;
    min-height:100vh;
  }
  .wrapper{
    flex:1;
  }